<ion-header>
  <ion-toolbar>
    <ion-col>
      <div class="ion-text-center">
        <h3>Home</h3>
      </div>
    </ion-col>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-col>
    <div class="ion-text-center">
      <h3>Seleccione a donde Desea Moverse</h3>
    </div>
  </ion-col>

    <ion-button color="medium" expand="block"  shape="round" (click)="page1()">Pagina 1</ion-button>
    <br>
    <ion-button color="medium" expand="block"   shape="round"(click)="page2()">Pagina 2</ion-button>
    <br>
    <ion-button color="medium" expand="block"  shape="round" (click)="page3()">Pagina 3</ion-button>
    <br>
    <ion-button color="medium" expand="block"  shape="round" (click)="page4()">Pagina 4</ion-button>
    <br>
    <ion-button color="medium" expand="block"  shape="round" (click)="page5()">Pagina 5</ion-button>
    <br>
    <ion-button color="medium" expand="block" shape="round" (click)="page6()">Pagina 6</ion-button>
    
    
    
 
</ion-content>